<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>hthebmlvyznmry@tznvy.pbz</string>
	<key>contactName</key>
	<string>Uğur Özyılmazel</string>
	<key>description</key>
	<string>Good for Amiga Ascii artists! Topaz font lovers be like!
vigo/bronx in 2022
ugurozyilmazel@gmail.com
</string>
	<key>name</key>
	<string>Amiga Ascii Art</string>
	<key>uuid</key>
	<string>668B8430-8853-40C8-97E4-86F8427C098B</string>
</dict>
</plist>
